<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JenkinsApiUtility/src/com/tcs/kits/main/JenkinsMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tcs.kits.main.JenkinsMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="ATG_BQ_TAG_122_FIXES ATG_BQ_TAG_141"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JenkinsApiUtility"/>
</launchConfiguration>
